@import "../../styles/globals/tools/shared-styles.tools";

app-message-user-input {
  display: block;
}

.app-message-user-input {
  display: flex;
  height: 4rem;
  justify-content: flex-end;
  min-width: 100%;
  position: absolute; bottom: 0;

  > input {
    flex: 5;
    font-size: 1rem;
    height: 2.5rem;
    margin-right: 1rem;
    outline: none;
    text-align: left;
  }

  > button {
    @include shared-chat-button-styles;
  }
}
