app-message-user-input {
  > .c-message-input {
    bottom: 0;
    display: flex;
    height: 4rem;
    justify-content: flex-end;
    position: absolute;
    min-width: 100%;

    > input {
      height: 2.5rem;
      flex: 5;
      font-size: 1rem;
      margin-right: 1rem;
      outline: none;

    }

    > button {
      color: #ffffff;
      background-color: #c916a9;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      height: 2.5rem;
      outline: none;
      padding: 0.1rem;
      width: 5rem;
    }
  }
}
