<div class="app-chat__overlay" [@fadeInOverlay]="load" (@fadeInOverlay.done)="loadOtherElements='show'">
  <span class="iconify" data-icon="logos-feathersjs" data-inline="false"></span>
</div>

<div class="app-chat__animation-container" [@fadeInAfter]="loadOtherElements">
  <div class="app-chat__header">
    <app-language-selector></app-language-selector>
    <span class="iconify" data-icon="logos-feathersjs" data-inline="false"></span>
    {{'CHAT.TITLE' | translate}}
  </div>

  <div class="app-chat__container">
    <app-users-interface [users]="users | async"></app-users-interface>
    <app-message-interface [messages]="messages | async"></app-message-interface>
  </div>
</div>
