@import "chat.component.settings";

app-chat {
  display: block;
}

.app-chat {
  > .app-chat__overlay {
    background: none;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100vw;
    z-index: 2;

    > .iconify {
      height: 20%;
      width: 50%;
    }
  }

  > .app-chat__animation-container {

    > .app-chat__header {
      align-items: center;
      background: $chat-header-background-color;
      color: $chat-header-font-color;
      display: flex;
      font: {
        size: 1.75rem;
        weight: 100;
      }
      justify-content: center;
      letter-spacing: 0.063rem;
      padding: 0.5rem;
      width: 100%;

      > .iconify {
        margin-right: 0.5rem;
      }
    }

    > .app-chat__container {
      display: flex;
      height: 95vh;

      > app-users-interface {
        flex: 1;
      }

      > app-message-interface {
        flex: 5;
      }
    }
  }
}
