.app-chat{
  > .c-chat-container{
    display: flex;
    height: 100vh;

    > .chat-container__active-users {
      background-color: #dbd9d9;
      position: relative;
      flex: 1;

      > .active-users__header {
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        height: 4rem;
        justify-content: center;

        > #header__user-length {
          color: #c916a9;
          font-weight: 800;
          padding-right: 1rem;
        }

        > #header__users {
          color: #bfbfbf;
          letter-spacing: 0.6px;
        }
      }

      > .active-users__user {
        display: flex;
        flex-direction: column;
        height: 70vh;

        > .user__user-container {
          display: flex;
          height: 3rem;
          margin: 1rem 1rem;

          > img {
            border-radius: 100%;
            margin-right: 0.9rem;
            width: 3.8rem;
          }

          > div {
            display: flex;
            line-height: 3rem;
            vertical-align: center;
            width: 10rem;
          }
        }
      }

      > .active-users__sign-out {
        bottom: 0;
        display: flex;
        height: 4rem;
        justify-content: center;
        position: absolute;
        width: 100%;

        > .button {
          background-color: #c916a9;
          border: none;
          border-radius: 5px;
          color: #ffffff;
          font-size: 1rem;
          height: 2.5rem;
          outline: none;
          padding: 0.1rem;
          width: 6rem;
        }

      }
    }

    > .chat-container__message-container {
      flex: 5;
      margin-left: 2rem;
      margin-right: 1rem;
      position: relative;

      > .message-container__messages {
        height: calc(80% + 4rem);
        overflow: scroll;

        > .messages__message {
          display: flex;
          margin-top: 1rem;

          > img {
            border-radius: 100%;
            display: inline-block;
            height: 3rem;
            margin-right: 0.9rem;
            width: 3.8rem;
          }

          > .message__details {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 10rem;

            > .details__header {
              display: flex;
              flex: 1;
              font-size: 0.9rem;


              > #header__date {
                color: #b8b8b8;
                margin-left: 0.1rem;
                min-width: fit-content;
              }
            }

            > .details_content {
              color: #969696;
              flex: 2;
              height: fit-content;
              line-height: 1.3rem;
              overflow-wrap: break-word;
              padding-top: 0.3rem;
            }
          }


        }

      }

      > .message-container__input {
        bottom: 0;
        display: flex;
        height: 4rem;
        justify-content: flex-end;
        position: absolute;
        min-width: 100%;

        > input {
          height: 2.5rem;
          flex:5;
          font-size: 1rem;
          margin-right: 1rem;
          outline: none;

        }

        > .button {
          color: #ffffff;
          background-color: #c916a9;
          border: none;
          border-radius: 5px;
          font-size: 1rem;
          height: 2.5rem;
          outline: none;
          padding: 0.1rem;
          width: 5rem;
        }
      }
    }
  }
}
