.app-chat{
  > .c-chat-container{
    display: flex;
    height: 100vh;

    > app-users-container {
      flex: 1;
    }



    > .chat-container__message-container {
      flex: 5;
      margin-left: 2rem;
      margin-right: 1rem;
      position: relative;


    }

  }


}
