<div class="c-chat-container">

  <div class="chat-container__active-users">

    <app-active-users-header [usersLength]="users?.length"></app-active-users-header>
    <app-active-users [users]="users"></app-active-users>


    <div class="active-users__sign-out">
      <button class="button" (click)="signOut()">Sign Out</button>
    </div>

  </div>

  <div class="chat-container__message-container" >
    <app-messages [messages]="messages"></app-messages>
    <app-message-user-input (handleSendMessage)="sendMessage($event)"></app-message-user-input>
  </div>
</div>
