<div class="app-chat__overlay"
     [@fadeInOverlay]="load"
     (@fadeInOverlay.done)="loadOtherElements = true">
  <span class="iconify" data-icon="logos-feathersjs" data-inline="false"></span>
</div>


<div class="app-chat__header" [@fadeInAfter]="loadOtherElements">

  <span class="iconify" data-icon="logos-feathersjs" data-inline="false"></span>
  FeathersChat
</div>

<div class="app-chat__container" [@fadeInAfter]="loadOtherElements">

  <app-users-interface
    [users]="users | async">
  </app-users-interface>

  <app-message-interface
    [messages]="messages | async">
  </app-message-interface>

</div>
