@import "message.component.settings";

app-message {
  display: block;
}

.app-message {
  display: flex;
  margin-top: 1rem;
  width: 100%;

  > img {
    border-radius: 100%;
    display: inline-block;
    height: 3rem;
    margin-right: 0.938rem;
    width: 3.875em;
  }

  > .app-message__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 10rem;

    > .app-message__header {
      display: flex;
      flex: 1;
      font-size: 0.938rem;


      > .app-message__date {
        color: $message-date-font-color;
        margin-left: 0.125rem;
        min-width: fit-content;
      }
    }

    > .app-message__content {
      color: $message-font-color;
      flex: 2;
      height: fit-content;
      line-height: 1.313rem;
      overflow-wrap: break-word;
      padding-top: 0.313rem;
    }
  }

}
