app-language-selector{
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;

  > .app-language-selector__options {
    display: flex;

    > select {
      background: none;
      border: none;
      font-size: 1rem;
      margin: 1rem;
      outline: none;
    }
  }
}


