app-language-selector{
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;

  img {
    width: 1.8rem;
    z-index: 2;
  }

  .app-language-selector__container{
    height: fit-content;
    margin: 0.7rem;
    position: absolute;
    top: 0;
    width: fit-content;
    z-index: 2;
  }

}


