app-active-users-header {
  display: block;

  > .app-active-users-header {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    height: 4rem;
    justify-content: center;

    > #app-active-users-header__length {
      color: #c916a9;
      font-weight: 800;
      padding-right: 1rem;
    }

    > #app-active-users-header__users {
      color: #bfbfbf;
      letter-spacing: 0.6px;
    }
  }
}
