@import "active-users-header.component.settings";

app-active-users-header {
  display: block;
}

.app-active-users-header {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  height: 4rem;
  justify-content: center;

  > .app-active-users-header__length {
    color: $length-font-color;
    font-weight: 800;
    padding-right: 1rem;
  }

  > .app-active-users-header__users {
    color: $text-font-color;
    letter-spacing: 0.063rem;
  }
}
