@import "users-interface.component.settings";

app-users-interface {
  display: block;
}

.app-users-interface {
  height: inherit;
  background-color: $interface-background-color;
  position: relative;

  > .app-users-interface__sign-out {
    display: flex;
    height: 4rem;
    justify-content: center;
    position: absolute; bottom: 0;
    width: 100%;

    > button {
      background-color: $button-background-color;
      border: none;
      border-radius: 0.313rem;
      color: $button-font-color;
      font-size: 1rem;
      height: 2.5rem;
      outline: none;
      padding: 0.1rem;
      width: 6rem;

      &:hover {
        background: $button-hover-background-color;
      }
    }
  }
}
