@import "users-interface.component.settings";
@import "../../styles/globals/tools/shared-styles.tools";

app-users-interface {
  display: block;
}

.app-users-interface {
  height: inherit;
  background-color: $interface-background-color;
  position: relative;

  > .app-users-interface__sign-out {
    display: flex;
    height: 4rem;
    justify-content: center;
    position: absolute; bottom: 0;
    width: 100%;

    > button {
      @include shared-chat-button-styles;
    }
  }
}
