app-message-interface {
    display: block;
    height: inherit;
}

.app-message-interface {
    margin: 0 1rem 0 2rem;
    position: relative;

    > app-messages {
        margin-left: 0.25rem;
    }
}
