app-message-interface {
  display: block;
  height: inherit;
}

.app-message-interface{
  > .app-message-interface__container {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    height: inherit;
  }
}
