@import "input.component.settings";

app-input {
  display: block;
}

.app-input {

  > label {
    font-size: 1.2rem;
    text-align: center;
  }

  > input {
    border: none;
    border-bottom: 0.125rem solid $input-border-color;
    border-radius: 0.625rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    outline: none;
    padding: 0.75rem;
    text-align: center;
  }

  > .form__input-error {
    border: 0.125rem solid $input-error-color;
    border-radius: 0.625rem;
    color: $input-error-color;
    height: 1.938rem;
    line-height: 1.938rem;
    text-align: center;
    position: absolute; bottom: -2.5rem;
    vertical-align: center;
    width: inherit;
  }
}

