app-input {
  display: block;
}

label {
  font-size: 1.2rem;
  text-align: center;
}

input {
  border: none;
  border-bottom: 0.1rem solid black;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
  outline: none;
  text-align: center;
  padding: 0.7rem;
}

.form__input-error {
  bottom: -2.5rem;
  border: 2px solid #fc0303;
  border-radius: 10px;
  color: #fc3503;
  height: 1.9rem;
  line-height: 1.9rem;
  text-align: center;
  vertical-align: center;
  position: absolute;
  width: inherit;
}

