<div>
  <form [formGroup]="loginAndRegisterForm">
    <div>
      <label for="email">E-Mail:</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="errors?.email">{{ errors.email }}</div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="errors?.password">{{ errors.password }}</div>

    </div>

    <button  name="login" type="button" (click)="login()">Login</button>
    <button  name="register" type="button" (click)="register()">Register</button>
  </form>
</div>
