app-login {
  display: block;
}

app-login {

  > .app-login__container {
    border-radius: 1rem;
    box-shadow: -1px -1px 20px 3px rgba(0, 0, 0, 0.75);
    display: block;
    height: 30rem;
    margin: 3rem auto;
    position: relative;
    width: 20rem;

    > .app-login__form {
      display: flex;
      flex-direction: column;
      height: inherit;
      padding: 2rem;

      > .app-login__error {
        align-self: center;
        border: 2px solid #fc0303;
        border-radius: 10px;
        color: #fc0303;
        font-size: 1.1rem;
        font-weight: 400;
        padding: 3px;
        position: absolute;
        text-align: center;
        top: 1rem;
        width: 90%;
      }

      > app-input {
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        position: relative;
        width: 15rem;
      }

      .app-login__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        > button {
          border: 0.1rem solid black;
          border-radius: 1rem;
          font-size: 1.3rem;
          height: 2.5rem;
          margin-top: 1rem;
          outline: none;
        }
      }
    }
  }
}
