<div class="c-login-container">
  <form [formGroup]="loginAndRegisterForm" class="c-login-container__form" (ngSubmit)="submitLogin()">

    <app-input class="form__input-email"
               [data]="{ formControlName: 'email', type: 'text' , label: 'E-Mail'}"
               [errors]="errors">
    </app-input>

    <app-input class="form__input-password"
               [data]="{ formControlName: 'password', type: 'password', label: 'Password'}"
               [errors]="errors">
    </app-input>

    <div class="form__buttons">
      <button  name="login" type="submit" >Login</button>
      <button  name="register" type="button" (click)="submitRegister()">Register</button>
    </div>

  </form>
</div>
