.app-login {
  > .c-login-container {
    display: block;
    margin: 3rem auto;
    width: 20rem;
    height: 30rem;
    box-shadow: -1px -2px 18px 6px rgba(0, 0, 0, 0.75);

    > .c-login-container__form {
      height: inherit;
      display: flex;
      flex-direction: column;
      padding: 2rem;

      > .form__input-email, .form__input-password {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 15rem;
        margin: 2rem auto;

        > label {
          font-size: 1.2rem;
        }

        > input {
          font-size: 1rem;
          padding: 0.7rem;
          margin-top: 0.5rem;
          border: none;
          border-bottom: 1px solid black;
          border-radius: 10px;
          outline: none;
        }

        > .form__input-error {
          position: absolute;
          bottom: -2.5rem;
          width: inherit;
          height: 1.9rem;
          line-height: 1.9rem;
          text-align: center;
          vertical-align: center;
          color: #fc3503;
          border: 2px solid #fc0303;
          border-radius: 10px;
        }
      }

      .form__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        > button {
          height: 2.5rem;
          font-size: 1.3rem;
          margin-top: 1rem;
        }
      }
    }
  }
}
