app-active-users {
  display: block;
}

.app-active-users {
    display: flex;
    flex-direction: column;
    height: 76vh;
    overflow: scroll;

    > .app-active-users__user {
      display: flex;
      height: 3rem;
      margin: 0.5rem 1rem;

      > .user__avatar {
        border-radius: 100%;
        margin-right: 0.938rem;
        width: 3.875rem;
      }

      > .user__email {
        display: flex;
        line-height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: center;
        white-space: nowrap;
        width: 10rem;
      }
    }
}


