app-active-users {
  display: block;

  > .app-active-users__users {
    display: flex;
    flex-direction: column;
    height: 76vh;
    overflow: scroll;

    > .app-active-users__container {
      display: flex;
      height: 3rem;
      margin: 1rem 1rem;

      > img {
        border-radius: 100%;
        margin-right: 0.9rem;
        width: 3.8rem;
      }

      > div {
        display: flex;
        line-height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: center;
        width: 10rem;
        white-space: nowrap;
      }
    }
  }
}
